.test-block {
  background-color: green;
  transition: background-color 2s;
  position: relative;
  top: 0;
  p {
    color: blue;
    span {
      color: green;
    }
  }
  &::after {
    content: "hello?";
  }
  &.open {
    background-color: orange !important;
    top: -20px;
    transition: background-color 2s top 2s;
  }
}
