.slider {
  // position: relative;
  .slide {
    background-size: cover;
    height: 25%;
    transition: opacity 8s ease-in-out;
    @media (min-width: 500px) {
      height: 40vh;
    }
    @media (min-width: $lg-width) {
      height: 95vh;
    }
  }

  .background {
    @media (max-width: $sm-width) {
      // height: 25vh;
    }
    width: 100%;
    background: no-repeat center;
    // background-size: cover;
  }
}
.title-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  background-color: #f2f2f3;
  @media (min-width: $lg-width) {
    height: 15vh;
  }
  .hero-text {
    font-size: 30px;
    font-weight: 400;
    @media (min-width: $lg-width) {
      font-size: 50px;
    }
  }
}

.slick-slider .slick-slide {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.text-container {
  margin: auto;
}

.slider-text {
  margin: auto;
}
